{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "patches/build/libs/patches-!(*sources*|*javadoc*).rvp?(.asc)"
          }
        ],
        "successComment": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["gradle.properties"],
        "message": "chore: Release v${nextRelease.version} [skip ci]"
      }
    ]
  ]
}
